extends ../base

block content
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(placeholder="Old Password", tpye="password", name="oldPassword")
        input(placeholder="New Password", tpye="password", name="newPassword")
        input(placeholder="New Password Confirmation", tpye="password", name="newPasswordConfirmation")
        input(type="submit" value="Change Password")